<section id="sidebar">
{{log model}}
  <!-- Intro -->
    <section id="intro">
      <a href="#" class="logo"><img src="class-icons/hugg.png" alt="" /></a>
      <header>
        <h2>Vindicatum</h2>
        <p>Premier Raiding Guild</p>
        <p>Malycrown • 3 Day</p>
      </header>
    </section>

  <!-- Mini Posts -->
    <section>
      <h1> Roster </h1>
      <div class="mini-posts">
        {{#each memberData.raidersNoAltsIncluded as |member|}}
        <a href="#" class="author class">
          <img src="class-icons/{{member.character.class}}.png" alt="">
          <span class="name">{{member.character.name}}</span>
        </a>
          {{log member}}
          
        {{/each}}
                
      </div>
    </section>

  <!-- About -->
    <section class="blurb">
      <h2>About</h2>
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
      <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
      </ul>
    </section>

  <!-- Footer -->
    <section id="footer">
      <p class="copyright">Constructed and Maintiained by:</p>
      <p class="copyright">Houndstooth & Rocklee</p>
        <br>
      <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>

</section>
{{yield}}
