<section id="sidebar">
  <!-- Intro -->
    <section id="intro">
      <a class="logo"><img src="" alt="" /></a>
      <header>
        <h2>Vindicatum</h2>
        <p>Premier Raiding Guild</p>
        <p>Icecrown • 3 Day</p>
      </header>
    </section>

  <!-- Mini Posts -->
    <section>
      <h1> Roster </h1>
      <div class="mini-posts">
        {{#each memberData.raidersNoAltsIncluded as |member|}}
        {{log member}}
        <a href="http://us.battle.net/wow/en/character/{{member.character.realm}}/{{member.character.name}}/simple" target="_blank" class="author class">
          <img src="class-icons/{{member.character.class}}.png" alt="">
          <span class="name">{{member.character.name}}</span>
        </a>

        {{/each}}

      </div>
    </section>

  <!-- Footer -->
    <section id="footer">
      <p class="copyright">Constructed and Maintiained by:</p>
      <p class="copyright">Houndstooth & Rocklee</p>
        <br>
      <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>

</section>
{{yield}}
