<section id="sidebar">
  <!-- Intro -->
    <section id="intro">
      <a class="logo"><img src="" alt="" /></a>
      <header>
        <h2>Vindicatum</h2>
        <p>Premier Raiding Guild</p>
        <p>Icecrown • 3 Day</p>
      </header>
    </section>

  <!-- Mini Posts -->
    <section>
      <h1> Currently Streaming </h1>
      <div class="mini-posts">
          {{#if activeStreams}}
            {{#each activeStreams as |stream|}}
              <a class="author class">
                <img src="class-icons/{{stream.class}}.png" alt="">
                <a href="{{stream.stream.channel.url}}"> <span class="name">{{stream.playerName}}</span></a>
              </a>
            {{/each}}
          {{else}}
            <a class="author class">
              <a href="https://www.twitch.tv/tanned_priest/profile/highlights">
                <span class="name">We're all offline! Check out some highlights</span>
              </a>
            </a>
          {{/if}}

      </div>
    </section>

  <!-- About -->
    <section class="blurb">
      <h2>About</h2>
      <p>We aim to be the top sub 12 hour guild in the US.</p>
      <ul class="actions">
        <li><a href="/about" class="button">Learn More</a></li>
      </ul>
    </section>

  <!-- Footer -->
    <section id="footer">
      <p class="copyright">Constructed and Maintained by:</p>
      <p class="copyright">Houndstooth & Rocklee</p>
        <br>
      <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>

</section>
{{yield}}
